body {
    background-color: #232323;
    color: #cdcdcd;
}

.nav-container {
    height: 80px;
}

#navbar {
    overflow: hidden;
    transition: background-color 1s, opacity 1s, visibility 1s;
}

#navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.sticky {
    position: fixed;
    top: 0px;
    width: 100%;
}

.title-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 1s linear;
}

.content {
    padding: 80px;
}