/* Body */
body,
html {
    background-color: #232323;
    color: #cdcdcd;
    margin: 0;
    padding: 0;
    width: 100%;
}

@media only screen and (min-width: 410px) and (orientation: portrait) {
    .pt-48-pixel {
        padding-top: 12rem;
    }
}

#name-title::after {
  content: "Enthusing About People";
  display: block;
  font: 15px 'Nothing You Could Do';
}

/* Navbar */
.nav-container {
    width: 100%;
}

#navbar {
    position: fixed;
    width: 100%;
    transition: top 0.4s, background-color 0.3s;
}

@media only screen and (max-width: 400px) {
    #navbar {
        position: relative;
    }
}

#navbar .navbar-link {
    float: left;
    text-align: center;
    padding: 0px 14spx;
    text-decoration: none;
}

@media only screen and (max-width: 1200px) {
    #navbar .navbar-link {
        padding-top: 0px;
    }
}

/* DOM Element Additions */

.invert {
    filter: invert(100%);
}

/* Title */
@media only screen and (orientation: landscape) {
    .title {
        padding-top: 5rem;
    }
}


@media only screen and (min-width: 1024px) {
    #center-name:before {
        content: "";
        display: inline-block;
        border-right: 120px solid;
        height: 1px;
        margin: 0 10px 12px 0px;
    }
}

@media only screen and (min-width: 1024px) {
    #center-name:after {
        content: "";
        display: inline-block;
        border-right: 120px solid;
        height: 1px;
        margin: 0 0 12px 10px;
    }
}

@media only screen and (max-width: 1023px) {
    #center-name:after {
        content: "";
        display: block;
        border: 0.5px solid;
    }
}

@media only screen and (max-width: 500px) {
    .nav {
        padding-bottom: 10px;
    }
}
.nav ul {
    zoom:1;
    list-style:none;
    margin: 0;
    padding:0;
}
.nav > ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media only screen and (min-width: 500px) and (orientation: portrait) {
    .nav > ul {
        padding: 0 0 0 28vw;
    }
}
@media only screen and (min-width: 800px) and (orientation: portrait) {
    .nav > ul {
        margin: 0 0 0 30vw;
    }
}
@media only screen and (min-width: 1000px) {
    .nav > ul {
        margin: 0 0 0 40vw;
    }
}
.nav ul:before,.nav ul:after {
    content:"";
    display:table;
}
.nav ul:after {
    clear:both;
}
.nav ul > li {
    float:left;
    position:relative;
}
.nav a {
    display:block;
    padding:0 10px;
    line-height:1.2em;
    color:#fff;
    text-decoration: none;
}
.nav a:hover {
    text-decoration:none;
}
/*.nav li ul {
    background-color: #434343;
}*/
.nav li ul li {
    width:120px;
}
.nav li ul a {
    border:none;
}
.nav li ul a:hover {
    background:rgba(0,0,0,1);
    border-radius: 15px 50px;
}

.nav li ul {
    display: none;
}

@media only screen and (min-width: 900px) and (orientation: landscape) {
.nav li ul {
    display: block;
    position:absolute;
    top:45px;
    z-index:1;
}
.nav li ul li {
    overflow:hidden;
    height:0;
    -webkit-transition:height 200ms ease-in;
    -moz-transition:height 200ms ease-in;
    -o-transition:height 200ms ease-in;
    transition:height 200ms ease-in;
}
.nav ul > li:hover ul li {
    height:36px;
}
}

/* Block Sections */
@media only screen and (min-width: 1400px) and (orientation: landscape){
    .block-section > h1:before {
        content: "";
        display: inline-block;
        border-right: 80px solid;
        height: 1px;
        margin: 0 10px 10px 0px;
    }
}

@media only screen and (min-width: 1400px) and (orientation: landscape){
    .block-section > h1:after {
        content: "";
        display: inline-block;
        border-right: 80px solid;
        height: 1px;
        margin: 0 0 10px 10px;
    }
}

@media only screen and (max-width: 1100px) and (orientation: landscape){
    .block-section > h1:after {
        content: "";
        display: block;
        border: 0.5px solid;
        margin: 10px 0 0 0;

    }
}

@media only screen and (min-width: 641px) {
    .block-section > h2:before {
        content: "";
        display: inline-block;
        border-right: 80px solid;
        height: 1px;
        margin: 0 10px 6px 0;
    }
    .block-section > h2:after {
        content: "";
        display: inline-block;
        border-right: 80px solid;
        height: 1px;
        margin: 0 0 6px 10px;
    }
}

@media only screen and (max-width: 640px) and (orientation: portrait) {
    .block-section > h2:after {
        content: "";
        display: block;
        border: 0.5px solid;
        width: 120px;
        margin: 5px auto 20px;
    }
}

.box {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
}